{% extends 'base.html.twig' %}

{% block body %}
    {# DIRECT METEO PARIS #}
    <div class="container d-flex justify-content-around">
        <div class="col-7">
            <h1 class="mt-4">CONCESSION-AUTO</h1>
            <h4 class="text-secondary">(Cas Pratique : Skills4all)</h4>
        </div>
        <div class="col-6 col-md-4 alert alert-success mt-4">
            <h4>Météo en direct sur Paris :</h4>
            <p>Temps : {{ data_meteo.weather.0.description }} </p>
            <p>Température : {{ data_meteo.main.temp }} °C</p>
        </div>
    </div>

<div class="container d-flex flex-wrap justifycontent-between">
    {# FILTRER PAR LE NOM #}
    <div class="col-4 my-5">
        <h5>Filtrer la recherche par le nom :</h5>
        <div class="w-50">
            <form method="post">
                <div class="input-group mb-3 me-5">
                    <input type="text" class="form-control" placeholder="Modèle recherché..." aria-label="Modèle recherché..." aria-describedby="searchByName" name="searchByName" required>
                    <button class="btn btn-outline-secondary" type="submit" id="searchByName"><i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
    </div>

    {# FILTRER PAR CATEGORIE #}
    {% if categories is not null %}
        <div class="col-6 my-5">
            <h5>Filtrer la recherche par catégorie :</h5>
            <div class="d-flex">
                {% for category in categories %}
                <a href="{{ path('app_front_filteredCategory', {slug: category.slug})}}"><button class="btn btn-light me-4">{{ category.name }}</button></a>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>Aucune catégorie de voitures existante.</p>
    {% endif %}
</div>

    {# TOUS LES VEHICULES #}
    <div class="container">
        {% if cars is not null %} 
            <div class="row">
                {% for car in cars %}
                    <div class="card car_card col-9 col-md-4 ms-4 mb-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nom : {{ car.name}}</li>
                            <li class="list-group-item">Description : {{ car.nbSeats }} places et {{ car.nbDoors }} portes</li>
                            <li class="list-group-item">Catégorie : {{ car.category }}</li>
                            <li class="list-group-item">Prix : {{ car.cost }} € </li>

                        </ul>
                    </div>
                {% endfor %}
            </div>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(cars) }}
            </div>
        {% else %}
            <p>Aucun véhicule disponible.</p>
        {% endif %}
    </div>

{% endblock %}
